extends main.pug

block append content
  style.
    .wrapper {
      display: flex;
      max-height: 75vh;
    }

    .wrapper > * {
      overflow-y: scroll;
    }

    textarea {
      max-height: 300px
    }

  +form
    .wrapper.columns
      .column.is-5
        h2.subtitle MCC-код
        details.mb-5
          summary Уже имеют ассоциации (#{assignedMcc.length} штук)
          each mcc in assignedMcc
            .mcc.mb-3.py-2.px-3.is-size-7.has-background-success-light(data-copy=mcc.mcc)
              p.has-text-weight-bold= mcc.mcc
              p= mcc.edited_description

        each mcc in mccToAssign
          .mcc.mb-3.py-2.px-3.is-size-7.has-background-warning-light(data-copy=mcc.mcc)
            p.has-text-weight-bold= mcc.mcc
            p= mcc.edited_description
      .column
        h2.subtitle Категории
        each category in categories
          .columns.is-size-7.target-column
            .column.is-4
              div #{category.name} 
                if category.isIncome
                  span.tag.is-success доход
            .column
              textarea.textarea.is-small(name=category.id rows=1)= category.field

    button.button Сохранить!

  script(src="https://unpkg.com/autosize@4.0.2/dist/autosize.min.js") 
  script.
    autosize(document.querySelectorAll('textarea'))
    Promise.all([
      navigator.permissions.query({name: "clipboard-read"}),
      navigator.permissions.query({name: "clipboard-write"})
    ]).then(() => {
      document.querySelectorAll(".mcc").forEach(el => 
        el.onclick = e => {
          navigator.clipboard.writeText(el.dataset.copy).catch(console.error)
        }
      )

      document.querySelectorAll(".target-column").forEach(el => {
        el.onclick = e => {
          if(e.currentTarget.tagName == 'TEXTAREA') return 
          const $textarea = e.currentTarget.querySelector('textarea')
          navigator.clipboard.readText()
            .then(res => {
              $textarea.value = $textarea.value ? $textarea.value + `\n${res}` : res
              autosize.update($textarea)
            })
            .catch(console.error)
        }
      })
    })

